html {
	color: black;
	background-color: white;
}

body {
	overflow-x: hidden; // hide horizontal scrollbar in case of animations moving out of the visible horizontal space
}

::selection {
	color: #fff;
	background: #000;
}
::-moz-selection {
	color: #fff;
	background: #000;
}

a {
	color: #1E0FBE; // google link color

	&:hover {
		color: ligthen(#1E0FBE, 20);
	}
	&:visited {
		color: #609; // google link color
	}
}

img,
video,
iframe {
	max-width: 100%; // responsive baby!
}
