/* family */
html {
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;;
}
code {
	font-family: monospace;
}





/* weight */
* {
	// font-weight: normal;
	font-weight: 300;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 900;
}





/* style */
* {
	font-style: normal;
}
html {
	-webkit-font-smoothing: antialiased;
			font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
em {
	font-style: italic;
}
// {
// 	text-decoration: underline;
// }
// {
// 	text-transform: uppercase;
// }
h1, h2, h3, h4, h5, h6 {
	letter-spacing: 0.01em;
}





/* size */
html {
	/* root */
	font-size: pxToEm($font-size-base, $font-size-assumed-browser-default);
}





/* line height */
html {
	line-height: 1;
}
h1, h2, h3, h4, h5, h6 {
	line-height: 1.2;
}
p {
	line-height: 1.8;
}





/* spacing */
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 1em;
}
* + h2, * + h3, * + h4, * + h5, * + h6 {
	margin-top: 2em;
}
p {
	margin-bottom: 1.5em;
}
