/* sizes */
$font-size-base:							20px;
$font-size-assumed-browser-default:			16px;



/* media query breakpoints */
// (In media queries the em root is the browser's default font size, not the document base font size (html, body))
$mq-XS:										0em;
$mq-XS-plus:								pxToEm(400px, $font-size-assumed-browser-default);
$mq-S-minus:								pxToEm(500px, $font-size-assumed-browser-default);
$mq-S:										pxToEm(600px, $font-size-assumed-browser-default);
$mq-S-plus:									pxToEm(850px, $font-size-assumed-browser-default);
$mq-M:										pxToEm(1000px, $font-size-assumed-browser-default);
$mq-L:										pxToEm(1250px, $font-size-assumed-browser-default);
$mq-XL:										pxToEm(1500px, $font-size-assumed-browser-default);



/* colors */
$color-fancy-green:							#2ecc71;



/* animation */
$easing-in:									cubic-bezier(0.7, 0, 1, 1);
$easing-out:								cubic-bezier(0, 0, 0.3, 1);
$easing-in-out-more:						cubic-bezier(0.7, 0, 0.3, 1);
$easing-start-fast-stop-smooth:				cubic-bezier(0.19, 1, 0.22, 1);
$easing-speedy:								cubic-bezier(0.2, 0.3, 0.25, 0.9);
$easing-bounce:								cubic-bezier(0.175, 0.885, 0.32, 1.275);
$easing-default:							$easing-start-fast-stop-smooth;
